<div class="login-status-header">

  <div *ngIf="isAuthenticated && userFullName" class="login-status-user-info">
    Welcome back {{ userFullName }}
  </div>

  <button *ngIf="!isAuthenticated" routerLink="/login" class="security-btn mx-1">Login</button>
  <button *ngIf="isAuthenticated" (click)="logout()" class="security-btn mx-1">Logout</button>
  <button *ngIf="isAuthenticated" routerLink="/members" class="security-btn mx-1">Member</button>
  <button *ngIf="isAuthenticated" routerLink="/order-history" class="security-btn mx-1">Orders</button>

</div>
